# Dimension Tables And Fact Table
This notebook is to dimensionalize the master table and get the dimensions and fact table

In [1]:
## Import compulsory libraries
import numpy as np
import pandas as pd

In [2]:
## read master spreadsheet.
root_dir='C:/Users/project file/master_data.csv'
master = pd.read_csv(root_dir)

C:\Users\gongh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Dimension Table
We have 5 dimensions table: accident, weather, location, event, hour

## Accident Dimension

In [3]:
master.columns

Index(['COLLISION_ID', 'LOCATION', 'LONGITUDE', 'LATITUDE', 'DATE', 'TIME',
       'ENVIRONMENT', 'LIGHT', 'SURFACE_CONDITION', 'TRAFFIC_CONTROL',
       'COLLISION_CLASSIFICATION', 'IMPACT_TYPE', 'Neighbourhoods',
       'Weather_station', 'YEAR', 'MONTH', 'DAY', 'ROUNDED_TIME',
       'X.Date.Time', 'Temp...C.', 'Temp.Flag', 'Dew.Point.Temp...C.',
       'Dew.Point.Temp.Flag', 'Rel.Hum....', 'Rel.Hum.Flag',
       'Wind.Dir..10s.deg.', 'Wind.Dir.Flag', 'Wind.Spd..km.h.',
       'Wind.Spd.Flag', 'Visibility..km.', 'Visibility.Flag',
       'Stn.Press..kPa.', 'Stn.Press.Flag', 'Hmdx', 'Hmdx.Flag', 'Wind.Chill',
       'Wind.Chill.Flag', 'Weather.', 'X.Province.', 'WEATHER_ID'],
      dtype='object')

In [26]:
#Accident Dim
Accident_dim = master[['COLLISION_ID','DATE','TIME','ENVIRONMENT', 'LIGHT', 'SURFACE_CONDITION', 'TRAFFIC_CONTROL', 'IMPACT_TYPE']].copy()
Accident_key= np.array([i+1 for i in range(len(Accident_dim.COLLISION_ID))])
Accident_dim['ACCIDENT_KEY']=Accident_key
Accident_dim = Accident_dim[['ACCIDENT_KEY','DATE','TIME','ENVIRONMENT', 'LIGHT', 'SURFACE_CONDITION', 'TRAFFIC_CONTROL', 'IMPACT_TYPE']]
Accident_dim=Accident_dim.rename(columns={'DATE':'ACCIDENT_DATE','TIME':'ACCIDENT_TIME'})
Accident_dim.to_csv('C:/Users/project file/accident_dim.csv')
Accident_dim.head()

,ACCIDENT_KEY,ACCIDENT_DATE,ACCIDENT_TIME,ENVIRONMENT,LIGHT,SURFACE_CONDITION,TRAFFIC_CONTROL,IMPACT_TYPE
0,1,2014-01-01,00:42,03 - Snow,07 - Dark,02 - Wet,01 - Traffic signal,05 - Turning movement
1,2,2014-01-01,01:04,01 - Clear,07 - Dark,02 - Wet,01 - Traffic signal,02 - Angle
2,3,2014-01-01,01:52,01 - Clear,07 - Dark,01 - Dry,10 - No control,06 - SMV unattended vehicle
3,4,2014-01-01,02:05,01 - Clear,07 - Dark,06 - Ice,10 - No control,06 - SMV unattended vehicle
4,5,2014-01-01,02:20,01 - Clear,07 - Dark,01 - Dry,10 - No control,02 - Angle

## Location Dimension

In [24]:
master.columns

Index(['COLLISION_ID', 'LOCATION', 'LONGITUDE', 'LATITUDE', 'DATE', 'TIME',
       'ENVIRONMENT', 'LIGHT', 'SURFACE_CONDITION', 'TRAFFIC_CONTROL',
       'COLLISION_CLASSIFICATION', 'IMPACT_TYPE', 'Neighbourhoods',
       'Weather_station', 'YEAR', 'MONTH', 'DAY', 'ROUNDED_TIME',
       'X.Date.Time', 'Temp...C.', 'Temp.Flag', 'Dew.Point.Temp...C.',
       'Dew.Point.Temp.Flag', 'Rel.Hum....', 'Rel.Hum.Flag',
       'Wind.Dir..10s.deg.', 'Wind.Dir.Flag', 'Wind.Spd..km.h.',
       'Wind.Spd.Flag', 'Visibility..km.', 'Visibility.Flag',
       'Stn.Press..kPa.', 'Stn.Press.Flag', 'Hmdx', 'Hmdx.Flag', 'Wind.Chill',
       'Wind.Chill.Flag', 'Weather.', 'X.Province.', 'WEATHER_ID'],
      dtype='object')

In [83]:
location_dim = master[['LOCATION', 'LONGITUDE', 'LATITUDE','Neighbourhoods']].copy()
location_dim = location_dim.groupby(['LOCATION','Neighbourhoods']).agg({'LONGITUDE':'mean',"LATITUDE":'mean'}).reset_index()
location_dim['CITY']='Ottawa'
location_dim['PROVINCE']='ON'
location_dim['LOCATION_KEY']=np.array([i+1 for i in range(len(location_dim.index))])
location_dim = location_dim.rename(columns={'Neighbourhoods':'NEIGHBOURHOODS'})
location_dim=location_dim[['LOCATION_KEY','LOCATION','LONGITUDE','LATITUDE','NEIGHBOURHOODS','CITY','PROVINCE']]

In [84]:
location_dim.head()

,LOCATION_KEY,LOCATION,LONGITUDE,LATITUDE,NEIGHBOURHOODS,CITY,PROVINCE
0,1,105 S OF COMMISSIONER ST @ ALBERT ST,-75.709554,45.415115,Ottawa West Centre Town,Ottawa,ON
1,2,210 W OF MERIVALE RD @ WEST HUNT CLUB RD,-75.726443,45.333797,Nepean,Ottawa,ON
2,3,225 E OF RIVERSIDE DR / T & T SC @ HUNT CLUB RD,-75.690638,45.335583,Nepean,Ottawa,ON
3,4,240 S OF CHARLEMAGNE BLVD/DES EPINETTES AVE @ ...,-75.490558,45.465564,Orleans,Ottawa,ON
4,5,250 N OF KLONDIKE RD @ MARCH RD,-75.934553,45.356684,Kanata,Ottawa,ON

In [86]:
location_dim.to_csv('C:/Users/project file/location_dim.csv')

## Weather Dimension

In [87]:
master.columns

Index(['COLLISION_ID', 'LOCATION', 'LONGITUDE', 'LATITUDE', 'DATE', 'TIME',
       'ENVIRONMENT', 'LIGHT', 'SURFACE_CONDITION', 'TRAFFIC_CONTROL',
       'COLLISION_CLASSIFICATION', 'IMPACT_TYPE', 'Neighbourhoods',
       'Weather_station', 'YEAR', 'MONTH', 'DAY', 'ROUNDED_TIME',
       'X.Date.Time', 'Temp...C.', 'Temp.Flag', 'Dew.Point.Temp...C.',
       'Dew.Point.Temp.Flag', 'Rel.Hum....', 'Rel.Hum.Flag',
       'Wind.Dir..10s.deg.', 'Wind.Dir.Flag', 'Wind.Spd..km.h.',
       'Wind.Spd.Flag', 'Visibility..km.', 'Visibility.Flag',
       'Stn.Press..kPa.', 'Stn.Press.Flag', 'Hmdx', 'Hmdx.Flag', 'Wind.Chill',
       'Wind.Chill.Flag', 'Weather.', 'X.Province.', 'WEATHER_ID'],
      dtype='object')

In [88]:
weather_dim=pd.read_csv('C:/Users/project file/ottawa_weather.csv')

C:\Users\gongh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6,8,10,12,14,18,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [90]:
weather_dim.columns

Index(['X.Date.Time', 'Year', 'Month', 'Day', 'Time', 'Temp...C.', 'Temp.Flag',
       'Dew.Point.Temp...C.', 'Dew.Point.Temp.Flag', 'Rel.Hum....',
       'Rel.Hum.Flag', 'Wind.Dir..10s.deg.', 'Wind.Dir.Flag',
       'Wind.Spd..km.h.', 'Wind.Spd.Flag', 'Visibility..km.',
       'Visibility.Flag', 'Stn.Press..kPa.', 'Stn.Press.Flag', 'Hmdx',
       'Hmdx.Flag', 'Wind.Chill', 'Wind.Chill.Flag', 'Weather.',
       'X.U.FEFF..Station.Name.', 'X.Province.', 'Weather_ID'],
      dtype='object')

In [91]:
weather_dim = weather_dim[['X.U.FEFF..Station.Name.','Temp...C.','Stn.Press..kPa.','Wind.Dir..10s.deg.',
       'Wind.Spd..km.h.','Visibility..km.']].copy()
weather_dim = weather_dim.rename(columns={'X.U.FEFF..Station.Name.':'STATION_NAME',
                                          'Temp...C.':'TEMPERATURE','Stn.Press..kPa.':'PRESSURE',
                                        'Visibility..km.':'VISIBILITY','Wind.Dir..10s.deg':'WIND_DIRECTION',
                                        'Wind.Spd..km.h.':'WIND_SPEED'})

In [92]:
weather_dim['WEATHER_ID']=np.array([i+1 for i in range(len(weather_dim.index))])

## Hour Dimension

In [94]:
master.columns

Index(['COLLISION_ID', 'LOCATION', 'LONGITUDE', 'LATITUDE', 'DATE', 'TIME',
       'ENVIRONMENT', 'LIGHT', 'SURFACE_CONDITION', 'TRAFFIC_CONTROL',
       'COLLISION_CLASSIFICATION', 'IMPACT_TYPE', 'Neighbourhoods',
       'Weather_station', 'YEAR', 'MONTH', 'DAY', 'ROUNDED_TIME',
       'X.Date.Time', 'Temp...C.', 'Temp.Flag', 'Dew.Point.Temp...C.',
       'Dew.Point.Temp.Flag', 'Rel.Hum....', 'Rel.Hum.Flag',
       'Wind.Dir..10s.deg.', 'Wind.Dir.Flag', 'Wind.Spd..km.h.',
       'Wind.Spd.Flag', 'Visibility..km.', 'Visibility.Flag',
       'Stn.Press..kPa.', 'Stn.Press.Flag', 'Hmdx', 'Hmdx.Flag', 'Wind.Chill',
       'Wind.Chill.Flag', 'Weather.', 'X.Province.', 'WEATHER_ID'],
      dtype='object')

In [140]:
#date
holidays_ON = {
    '2013-01-01' : 'New Years Day',
    '2013-02-17' : 'Family Day',
    '2013-04-18' : 'Good Friday',
    '2013-04-21' : 'Easter Monday',
    '2013-05-19' : 'Victoria Day',
    '2013-07-01' : 'Canada Day',
    '2013-08-04' : 'Civic Holiday',
    '2013-09-01' : 'Labour Day',
    '2013-10-13' : 'Thanksgiving',
    '2013-12-25' : 'Christmas Day',
    '2013-12-26' : 'Boxing Day',
    
    '2014-01-01' : 'New Years Day',
    '2014-02-17' : 'Family Day',
    '2014-04-18' : 'Good Friday',
    '2014-04-21' : 'Easter Monday',
    '2014-05-19' : 'Victoria Day',
    '2014-07-01' : 'Canada Day',
    '2014-08-04' : 'Civic Holiday',
    '2014-09-01' : 'Labour Day',
    '2014-10-13' : 'Thanksgiving',
    '2014-12-25' : 'Christmas Day',
    '2014-12-26' : 'Boxing Day',
    
    '2015-01-01' : 'New Years Day',
    '2015-02-16' : 'Family Day',
    '2015-04-03' : 'Good Friday',
    '2015-04-06' : 'Easter Monday',
    '2015-05-18' : 'Victoria Day',
    '2015-07-01' : 'Canada Day',
    '2015-08-04' : 'Civic Holiday',
    '2015-09-07' : 'Labour Day',
    '2015-10-12' : 'Thanksgiving',
    '2015-12-25' : 'Christmas Day',
    '2015-12-26' : 'Boxing Day',
    
    
    '2016-01-01' : 'New Years Day',
    '2016-02-15' : 'Family Day',
    '2016-04-25' : 'Good Friday',
    '2016-04-28' : 'Easter Monday',
    '2016-05-23' : 'Victoria Day',
    '2016-07-01' : 'Canada Day',
    '2016-08-01' : 'Civic Holiday',
    '2016-09-05' : 'Labour Day',
    '2016-10-10' : 'Thanksgiving',
    '2016-12-25' : 'Christmas Day',
    '2016-12-26' : 'Boxing Day',
    
    '2017-01-01' : 'New Years Day',
    '2017-02-20' : 'Family Day',
    '2017-04-14' : 'Good Friday',
    '2017-04-17' : 'Easter Monday',
    '2017-05-22' : 'Victoria Day',
    '2017-07-01' : 'Canada Day',
    '2017-08-07' : 'Civic Holiday',
    '2017-09-04' : 'Labour Day',
    '2017-10-09' : 'Thanksgiving',
    '2017-12-25' : 'Christmas Day',
    '2017-12-26' : 'Boxing Day'
}

In [112]:
hour_dim=pd.read_csv('C:/Users/project file/ottawa_weather.csv')

C:\Users\gongh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6,8,10,12,14,18,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [113]:
hour_dim.columns

Index(['X.Date.Time', 'Year', 'Month', 'Day', 'Time', 'Temp...C.', 'Temp.Flag',
       'Dew.Point.Temp...C.', 'Dew.Point.Temp.Flag', 'Rel.Hum....',
       'Rel.Hum.Flag', 'Wind.Dir..10s.deg.', 'Wind.Dir.Flag',
       'Wind.Spd..km.h.', 'Wind.Spd.Flag', 'Visibility..km.',
       'Visibility.Flag', 'Stn.Press..kPa.', 'Stn.Press.Flag', 'Hmdx',
       'Hmdx.Flag', 'Wind.Chill', 'Wind.Chill.Flag', 'Weather.',
       'X.U.FEFF..Station.Name.', 'X.Province.', 'Weather_ID'],
      dtype='object')

In [114]:
hour_dim = weather[['X.Date.Time','Year','Month','Day','Time','X.U.FEFF..Station.Name.']].copy()

In [118]:
hour_dim = hour_dim[hour_dim['X.U.FEFF..Station.Name.']=='OTTAWA']

In [120]:
len(hour_dim['X.Date.Time'].unique())

43824

In [124]:
hour_dim = hour_dim.drop(columns=['X.U.FEFF..Station.Name.'])

In [128]:
hour_dim.reset_index(drop=True)

            X.Date.Time  Year  Month  Day   Time
0      2013-01-01 00:00  2013      1    1  00:00
1      2013-01-01 01:00  2013      1    1  01:00
2      2013-01-01 02:00  2013      1    1  02:00
3      2013-01-01 03:00  2013      1    1  03:00
4      2013-01-01 04:00  2013      1    1  04:00
...                 ...   ...    ...  ...    ...
43819  2017-12-31 19:00  2017     12   31  19:00
43820  2017-12-31 20:00  2017     12   31  20:00
43821  2017-12-31 21:00  2017     12   31  21:00
43822  2017-12-31 22:00  2017     12   31  22:00
43823  2017-12-31 23:00  2017     12   31  23:00

[43824 rows x 5 columns]

In [131]:
hour_dim = hour_dim.rename(columns={'X.Date.Time':'DATE'})

In [132]:
hour_dim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43824 entries, 0 to 1034663
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    43824 non-null  object
 1   Year    43824 non-null  int64
 2   Month   43824 non-null  int64
 3   Day     43824 non-null  int64
 4   Time    43824 non-null  object
dtypes: int64(3), object(2)
memory usage: 2.0+ MB

In [134]:
hour_dim['DATE'] = hour_dim['DATE'].apply(lambda x:str(x)[:10])

In [135]:
def is_holiday(x):
    if x in holidays_ON.keys():
        return 'yes'
    else:
        return 'no'

In [141]:
hour_dim['IS_HOLIDAY'] = hour_dim['DATE'].apply(lambda x:is_holiday(x))

In [142]:
hour_dim.groupby('IS_HOLIDAY').count()

             DATE   Year  Month    Day   Time
IS_HOLIDAY
no          42504  42504  42504  42504  42504
yes          1320   1320   1320   1320   1320

In [143]:
hour_dim['HOLIDAY_NAME']=hour_dim['DATE'].map(holidays_ON)

In [147]:
hour_dim = hour_dim.reset_index(drop=True)

In [148]:
hour_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE          43824 non-null  object
 1   Year          43824 non-null  int64
 2   Month         43824 non-null  int64
 3   Day           43824 non-null  int64
 4   Time          43824 non-null  object
 5   IS_HOLIDAY    43824 non-null  object
 6   HOLIDAY_NAME  1320 non-null   object
dtypes: int64(3), object(4)
memory usage: 2.3+ MB